# Cardano
BLOCKFROST_API_KEY=
OGMIOS_URL=
KUPO_URL=
SUBMIT_API_URL=

# EVM
RPC_URL=
PRIVATE_KEY=

# XRPL
XRPL_JSON_RPC=https://s.altnet.rippletest.net:51234
XRPL_SEED=

# Solana
SOLANA_RPC=https://api.devnet.solana.com
SOLANA_KEYPAIR_PATH=

# Cosmos
COSMOS_RPC=
COSMOS_MNEMONIC=
